.Card {
  font-size: 12px;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 20px;
  background: #fafafa;
  justify-content: space-between;
}

.Card_size_s {
  grid-column: span 2;
}

.Card_size_m {
  grid-column: span 3;
}

.Card_size_l {
  grid-column: span 4;
  grid-row: span 3;
}

.Card:hover {
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

.Card-Title {
  display: flex;
  justify-content: flex-start;
}

.Card-TitleIcon {
  display: flex;
  width: 52px;
  height: 52px;
  margin-right: 18px;
  flex-shrink: 0;
  align-items: center;
}

.Card-TitleIcon_stats {
  background: url('./images/stats.svg') center / contain no-repeat;
}

.Card-TitleIcon_key {
  background: url('./images/key.svg') center / contain no-repeat;
}

.Card-TitleIcon_robot-cleaner {
  background: url('./images/robot-cleaner.svg') center / contain no-repeat;
}

.Card-TitleIcon_router {
  background: url('./images/router.svg') center / contain no-repeat;
}

.Card-TitleIcon_thermal {
  background: url('./images/thermal.svg') center / contain no-repeat;
}

.Card-TitleIcon_ac {
  background: url('./images/ac.svg') center / contain no-repeat;
}

.Card-TitleIcon_music {
  background: url('./images/music.svg') center / contain no-repeat;
}

.Card-TitleIcon_fridge {
  background: url('./images/fridge.svg') center / contain no-repeat;
}

.Card-TitleIcon_battery {
  background: url('./images/battery.svg') center / contain no-repeat;
}

.Card-TitleIcon_cam {
  background: url('./images/cam.svg') center / contain no-repeat;
}

.Card-TitleIcon_kettle {
  background: url('./images/kettle.svg') center / contain no-repeat;
}

.Card-TitleText {
  margin: 0;
  font-size: 1.3333em;
  font-weight: 700;
  display: flex;
  overflow: hidden;
  max-height: 58px;
  margin-right: 20px;
  align-items: center;
}

.Card-Body {
  font-size: 1.1111em;
  padding: 0 20px 20px;
  color: #333;
  border-radius: 20px;
  background: #fafafa;
}

.Card-Close {
  top: 20px;
  width: 16px;
  background: url("./images/cross.svg") center/contain no-repeat;
}

.Card-Next {
  bottom: 20px;
  width: 12px;
  background: url("./images/next.svg") center/contain no-repeat;
}

.Card_type_critical {
  color: #fff;
  background: #db5341;
}

.Card_type_critical .Card-Body {
  padding: 20px;
}

.Card_type_critical .Card-TitleIcon,.Card_type_critical .Card-Close {
  filter: brightness(5);
}

.Card-Heading {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Card-Meta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Card-MetaTime,.Card-MetaSource {
  margin-top: 20px;
}

.Card-ContentThermal {
  font-size: 0.7777em;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.Card-ContentThermal .Card-ContentTemp,.Card-ContentThermal .Card-ContentHumi {
  font-weight: 700;
}

.Card-ContentGraph {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

.Card-ContentButtons {
  display: flex;
  margin-top: 30px;
  justify-content: flex-start;
}

@media screen and (max-width: 550px) {
  .Card-ContentButtons {
    justify-content: space-between;
  }
}
