.Footer {
  font: 12px Arial, sans-serif;
  display: flex;
  width: 100%;
  min-height: 80px;
  padding-top: 20px;
  padding-left: 40px;
  flex: 0 0 auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  line-height: 1.143;
  box-sizing: border-box;
}

.Footer-Link {
  margin-right: 20px;
}
